In [1]:
import pandas as pd

In [2]:
# CSV 파일 경로
file_path = 'C:/Users/ebg13/OneDrive/바탕 화면/시도별_자살률.csv'

In [3]:
# CSV 파일 읽기
df = pd.read_csv(file_path, encoding='cp949')

In [4]:
df

      시군구별 성별    시점   데이터
0    서울특별시  계  2018  22.5
1    서울특별시  계  2019  22.5
2    서울특별시  계  2020  22.7
3    서울특별시  계  2021  22.6
4    서울특별시  계  2022  21.4
..     ... ..   ...   ...
97     제주도  계  2019  31.7
98     제주도  계  2020  30.0
99     제주도  계  2021  26.1
100    제주도  계  2022  26.0
101    제주도  계  2023  30.5

[102 rows x 4 columns]

In [5]:
# 열 이름 확인 (원래 이름)
print("원래 열 이름:", df.columns.tolist())

원래 열 이름: ['시군구별', '성별', '시점', '데이터']

In [6]:
# 열 이름 변경
df.rename(columns={
    df.columns[0]: '시도',
    df.columns[2]: '연도',
    df.columns[3]: '자살률'
}, inplace=True)

In [7]:
# '성별' 열 삭제 (두 번째 열)
df.drop(columns=df.columns[1], inplace=True)

In [8]:
print(df.isnull().sum())

시도     0
연도     0
자살률    0
dtype: int64

In [9]:
df_cleaned = df.dropna()

In [10]:
# 결과 확인
print(df.head())

      시도    연도   자살률
0  서울특별시  2018  22.5
1  서울특별시  2019  22.5
2  서울특별시  2020  22.7
3  서울특별시  2021  22.6
4  서울특별시  2022  21.4

In [12]:
df

        시도    연도   자살률
0    서울특별시  2018  22.5
1    서울특별시  2019  22.5
2    서울특별시  2020  22.7
3    서울특별시  2021  22.6
4    서울특별시  2022  21.4
..     ...   ...   ...
97     제주도  2019  31.7
98     제주도  2020  30.0
99     제주도  2021  26.1
100    제주도  2022  26.0
101    제주도  2023  30.5

[102 rows x 3 columns]

In [11]:
df.to_csv('C:/Users/ebg13/OneDrive/바탕 화면/시도별_자살률_전처리.csv', index=False)