In [18]:
import pandas as pd

In [19]:
# CSV 파일 경로
file_path = 'C:/Users/ebg13/OneDrive/바탕 화면/시도별_고용률.csv'

In [20]:
# CSV 파일 읽기
df = pd.read_csv(file_path, encoding='cp949')

In [21]:
df

       시도별 성별    시점   데이터
0    서울특별시  계  2018  59.6
1    서울특별시  계  2019  60.0
2    서울특별시  계  2020  59.3
3    서울특별시  계  2021  59.2
4    서울특별시  계  2022  60.4
..     ... ..   ...   ...
97     제주도  계  2019  68.4
98     제주도  계  2020  67.1
99     제주도  계  2021  67.4
100    제주도  계  2022  69.9
101    제주도  계  2023  69.2

[102 rows x 4 columns]

In [22]:
# 열 이름 변경
df.rename(columns={
    df.columns[0]: '시도',
    df.columns[2]: '연도',
    df.columns[3]: '고용률'
}, inplace=True)

In [23]:
# '성별' 열 삭제 (두 번째 열)
df.drop(columns=df.columns[1], inplace=True)

In [24]:
df_cleaned = df.dropna()

In [25]:
df

        시도    연도   고용률
0    서울특별시  2018  59.6
1    서울특별시  2019  60.0
2    서울특별시  2020  59.3
3    서울특별시  2021  59.2
4    서울특별시  2022  60.4
..     ...   ...   ...
97     제주도  2019  68.4
98     제주도  2020  67.1
99     제주도  2021  67.4
100    제주도  2022  69.9
101    제주도  2023  69.2

[102 rows x 3 columns]

In [26]:
df.to_csv('C:/Users/ebg13/OneDrive/바탕 화면/시도별_고용률_전처리.csv', index=False)