In [1]:
import pandas as pd

In [2]:
# CSV 파일 경로
file_path = 'C:/Users/ebg13/OneDrive/바탕 화면/시도별_개인소득.csv'

In [3]:
# CSV 파일 읽기
df = pd.read_csv(file_path, encoding='cp949')

In [4]:
df

         시도별       시점    데이터
0      서울특별시     2018  25053
1      서울특별시     2019  26229
2      서울특별시     2020  26428
3      서울특별시     2021  27119
4      서울특별시     2022  28187
..       ...      ...    ...
97   제주특별자치도     2019  19979
98   제주특별자치도     2020  20835
99   제주특별자치도     2021  21396
100  제주특별자치도     2022  22481
101  제주특별자치도  2023 p)  22893

[102 rows x 3 columns]

In [5]:
# 열 이름 변경
df.rename(columns={
    df.columns[0]: '시도',
    df.columns[1]: '연도',
    df.columns[2]: '개인 소득'
}, inplace=True)

In [6]:
df['연도'] = df['연도'].replace('2023 p)', 2023)

In [8]:
df

          시도    연도  개인 소득
0      서울특별시  2018  25053
1      서울특별시  2019  26229
2      서울특별시  2020  26428
3      서울특별시  2021  27119
4      서울특별시  2022  28187
..       ...   ...    ...
97   제주특별자치도  2019  19979
98   제주특별자치도  2020  20835
99   제주특별자치도  2021  21396
100  제주특별자치도  2022  22481
101  제주특별자치도  2023  22893

[102 rows x 3 columns]

In [9]:
df.to_csv('C:/Users/ebg13/OneDrive/바탕 화면/시도별_개인소득_전처리.csv', index=False)