In [1]:
import pandas as pd

In [2]:
# CSV 파일 경로
file_path = 'C:/Users/ebg13/OneDrive/바탕 화면/시도별_우울감 경험률.csv'

In [3]:
# CSV 파일 읽기
df = pd.read_csv(file_path, encoding='cp949')

In [5]:
df

     시군구별(1)    시점  표준화율 (%)
0      서울특별시  2018       4.9
1      서울특별시  2019       6.5
2      서울특별시  2020       6.3
3      서울특별시  2021       6.8
4      서울특별시  2022       7.1
..       ...   ...       ...
97   제주특별자치도  2019       4.6
98   제주특별자치도  2020       4.3
99   제주특별자치도  2021       5.8
100  제주특별자치도  2022       5.7
101  제주특별자치도  2023       5.1

[102 rows x 3 columns]

In [6]:
# 열 이름 확인 (원래 이름)
print("원래 열 이름:", df.columns.tolist())

원래 열 이름: ['시군구별(1)', '시점', '표준화율 (%)']

In [7]:
# 열 이름 변경
df.rename(columns={
    df.columns[0]: '시도',
    df.columns[1]: '연도',
    df.columns[2]: '우울감 경험률'
}, inplace=True)

In [8]:
df_cleaned = df.dropna()

In [11]:
df

          시도    연도  우울감 경험률
0      서울특별시  2018      4.9
1      서울특별시  2019      6.5
2      서울특별시  2020      6.3
3      서울특별시  2021      6.8
4      서울특별시  2022      7.1
..       ...   ...      ...
97   제주특별자치도  2019      4.6
98   제주특별자치도  2020      4.3
99   제주특별자치도  2021      5.8
100  제주특별자치도  2022      5.7
101  제주특별자치도  2023      5.1

[102 rows x 3 columns]

In [12]:
df.to_csv('C:/Users/ebg13/OneDrive/바탕 화면/시도별_우울감경험률_전처리.csv', index=False)