In [1]:
import pandas as pd

In [2]:
# CSV 파일 경로
file_path = 'C:/Users/ebg13/OneDrive/바탕 화면/시도별_스트레스 인지율.csv'

In [3]:
# CSV 파일 읽기
df = pd.read_csv(file_path, encoding='cp949')

In [4]:
df

       행정구역별    시점   데이터
0      서울특별시  2018  27.7
1      서울특별시  2019  27.2
2      서울특별시  2020  29.5
3      서울특별시  2021  28.0
4      서울특별시  2022  25.7
..       ...   ...   ...
97   제주특별자치도  2019  23.2
98   제주특별자치도  2020  25.8
99   제주특별자치도  2021  25.3
100  제주특별자치도  2022  25.0
101  제주특별자치도  2023  23.5

[102 rows x 3 columns]

In [5]:
# 열 이름 확인 (원래 이름)
print("원래 열 이름:", df.columns.tolist())

원래 열 이름: ['행정구역별', '시점', '데이터']

In [6]:
# 열 이름 변경
df.rename(columns={
    df.columns[0]: '시도',
    df.columns[1]: '연도',
    df.columns[2]: '스트레스 인지율'
}, inplace=True)

In [7]:
df_cleaned = df.dropna()

In [8]:
df

          시도    연도  스트레스 인지율
0      서울특별시  2018      27.7
1      서울특별시  2019      27.2
2      서울특별시  2020      29.5
3      서울특별시  2021      28.0
4      서울특별시  2022      25.7
..       ...   ...       ...
97   제주특별자치도  2019      23.2
98   제주특별자치도  2020      25.8
99   제주특별자치도  2021      25.3
100  제주특별자치도  2022      25.0
101  제주특별자치도  2023      23.5

[102 rows x 3 columns]

In [9]:
df.to_csv('C:/Users/ebg13/OneDrive/바탕 화면/시도별_스트레스인지율_전처리.csv', index=False)