In [1]:
import pandas as pd

In [2]:
# CSV 파일 경로
file_path = 'C:/Users/ebg13/OneDrive/바탕 화면/시도별_정신건강관련기관.csv'

In [3]:
# CSV 파일 읽기
df = pd.read_csv(file_path, encoding='cp949')

In [4]:
df

      시도별(1)    시점   전체
0      서울특별시  2018  578
1      서울특별시  2019  637
2      서울특별시  2020  680
3      서울특별시  2021  726
4      서울특별시  2022  758
..       ...   ...  ...
97   제주특별자치도  2019   38
98   제주특별자치도  2020   38
99   제주특별자치도  2021   38
100  제주특별자치도  2022   42
101  제주특별자치도  2023   44

[102 rows x 3 columns]

In [5]:
# 열 이름 확인 (원래 이름)
print("원래 열 이름:", df.columns.tolist())

원래 열 이름: ['시도별(1)', '시점', '전체']

In [6]:
# 열 이름 변경
df.rename(columns={
    df.columns[0]: '시도',
    df.columns[1]: '연도',
    df.columns[2]: '정신건강관련기관수'
}, inplace=True)

In [7]:
df_cleaned = df.dropna()

In [8]:
df

          시도    연도  정신건강관련기관수
0      서울특별시  2018        578
1      서울특별시  2019        637
2      서울특별시  2020        680
3      서울특별시  2021        726
4      서울특별시  2022        758
..       ...   ...        ...
97   제주특별자치도  2019         38
98   제주특별자치도  2020         38
99   제주특별자치도  2021         38
100  제주특별자치도  2022         42
101  제주특별자치도  2023         44

[102 rows x 3 columns]

In [9]:
df.to_csv('C:/Users/ebg13/OneDrive/바탕 화면/시도별_정신건강관련기관_전처리.csv', index=False)