In [32]:
import pandas as pd

In [33]:
# CSV 파일 경로
file_path = 'C:/Users/ebg13/OneDrive/바탕 화면/시도별_실업률.csv'

In [34]:
# CSV 파일 읽기
df = pd.read_csv(file_path, encoding='cp949')

In [35]:
df

       시도별 성별    시점  데이터
0    서울특별시  계  2018  4.8
1    서울특별시  계  2019  4.4
2    서울특별시  계  2020  4.6
3    서울특별시  계  2021  4.8
4    서울특별시  계  2022  3.4
..     ... ..   ...  ...
97     제주도  계  2019  2.1
98     제주도  계  2020  2.5
99     제주도  계  2021  3.1
100    제주도  계  2022  2.1
101    제주도  계  2023  1.9

[102 rows x 4 columns]

In [36]:
# 열 이름 변경
df.rename(columns={
    df.columns[0]: '시도',
    df.columns[2]: '연도',
    df.columns[3]: '실업률'
}, inplace=True)

In [37]:
# '성별' 열 삭제 (두 번째 열)
df.drop(columns=df.columns[1], inplace=True)

In [38]:
df_cleaned = df.dropna()

In [39]:
df

        시도    연도  실업률
0    서울특별시  2018  4.8
1    서울특별시  2019  4.4
2    서울특별시  2020  4.6
3    서울특별시  2021  4.8
4    서울특별시  2022  3.4
..     ...   ...  ...
97     제주도  2019  2.1
98     제주도  2020  2.5
99     제주도  2021  3.1
100    제주도  2022  2.1
101    제주도  2023  1.9

[102 rows x 3 columns]

In [40]:
df.to_csv('C:/Users/ebg13/OneDrive/바탕 화면/시도별_실업률_전처리.csv', index=False)