In [1]:
import pandas as pd

In [2]:
# CSV 파일 경로
file_path = 'C:/Users/ebg13/OneDrive/바탕 화면/시도별_경제활동참가율.csv'

In [3]:
# CSV 파일 읽기
df = pd.read_csv(file_path, encoding='cp949')

In [4]:
df

       시도별 성별    시점   데이터
0    서울특별시  계  2018  62.6
1    서울특별시  계  2019  62.7
2    서울특별시  계  2020  62.1
3    서울특별시  계  2021  62.3
4    서울특별시  계  2022  62.5
..     ... ..   ...   ...
97     제주도  계  2019  69.9
98     제주도  계  2020  68.8
99     제주도  계  2021  69.6
100    제주도  계  2022  71.4
101    제주도  계  2023  70.6

[102 rows x 4 columns]

In [5]:
# 열 이름 확인 (원래 이름)
print("원래 열 이름:", df.columns.tolist())

원래 열 이름: ['시도별', '성별', '시점', '데이터']

In [6]:
# 열 이름 변경
df.rename(columns={
    df.columns[0]: '시도',
    df.columns[2]: '연도',
    df.columns[3]: '경제활동참가율'
}, inplace=True)

In [7]:
# '성별' 열 삭제 (두 번째 열)
df.drop(columns=df.columns[1], inplace=True)

In [8]:
print(df.isnull().sum())

시도         0
연도         0
경제활동참가율    0
dtype: int64

In [9]:
df_cleaned = df.dropna()

In [11]:
df.head(6)

      시도    연도  경제활동참가율
0  서울특별시  2018     62.6
1  서울특별시  2019     62.7
2  서울특별시  2020     62.1
3  서울특별시  2021     62.3
4  서울특별시  2022     62.5
5  서울특별시  2023     62.8

In [12]:
df.to_csv('C:/Users/ebg13/OneDrive/바탕 화면/시도별_경제활동참가율_전처리.csv', index=False)