In [1]:
import pandas as pd

In [2]:
# CSV 파일 경로
file_path = 'C:/Users/ebg13/OneDrive/바탕 화면/시도별_기초생활수급자.csv'

In [3]:
# CSV 파일 읽기
df = pd.read_csv(file_path, encoding='cp949')

In [4]:
df

       행정구역별    시점     데이터
0      서울특별시  2018  289342
1      서울특별시  2019  317269
2      서울특별시  2020  369518
3      서울특별시  2021  402632
4      서울특별시  2022  412409
..       ...   ...     ...
97   제주특별자치도  2019   24323
98   제주특별자치도  2020   28671
99   제주특별자치도  2021   32446
100  제주특별자치도  2022   33491
101  제주특별자치도  2023   35069

[102 rows x 3 columns]

In [5]:
# 열 이름 변경
df.rename(columns={
    df.columns[0]: '시도',
    df.columns[1]: '연도',
    df.columns[2]: '기초생활수급자수'
}, inplace=True)

In [6]:
df_cleaned = df.dropna()

In [7]:
df

          시도    연도  기초생활수급자수
0      서울특별시  2018    289342
1      서울특별시  2019    317269
2      서울특별시  2020    369518
3      서울특별시  2021    402632
4      서울특별시  2022    412409
..       ...   ...       ...
97   제주특별자치도  2019     24323
98   제주특별자치도  2020     28671
99   제주특별자치도  2021     32446
100  제주특별자치도  2022     33491
101  제주특별자치도  2023     35069

[102 rows x 3 columns]

In [8]:
df.to_csv('C:/Users/ebg13/OneDrive/바탕 화면/시도별_기초생활수급자_전처리.csv', index=False)